.table-extend {
  display: flex;
  flex-direction: column;
  flex: 1 0 0%;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 100px;
  .tool-panel {
    display: flex;
    width: 100%;
  }
  .right-panel {
    flex: 1 0 0%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .el-table--border td {
    border-right: none;
  }
  .el-pagination {
    margin-top: 20px;
  }
  .el-empty {
    padding: 0;
  }
  .el-empty__description {
    margin-top: 0;
  }
  .has-more {
    cursor: pointer;
    color: var(--color-primary);
  }
}

.default-tool {
  margin-left: 6px;
}

.set-column-list-wrap {
  max-height: 70vh;
  overflow: auto;
}
.set-column-check-group {
  .group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 32px;
  }
  .fixed-wrap {
    display: flex;
    justify-content: space-between;
    width: 50px;
    font-size: 16px;
    color: #333;
  }
  .fixed-icon {
    cursor: pointer;
    &:first-child {
      transform: rotate(-90deg);
    }
    &:last-child {
      transform: rotate(90deg);
    }
    &.active {
      color: var(--el-color-primary);
    }
  }
}
